*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}
/*Home page Styling*/

/*Header styling*/
nav ul{
    list-style: none;
    text-align: center;
    background-color: blue;
   
    
}
.header{
    position: fixed;
    width: 100%;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;

}
nav ul li a{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

/*Container styling*/

.container{
    background-color: white;
}
.img{
    background: url('https://images.unsplash.com/photo-1544761634-dc512f2238a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGFjY291bnRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15%;
}


/*about styling*/
.about{
    
    padding: 2%;
    
}
.content{
    padding: 0 2%;
    border-bottom: 2px solid blue;
}
.h{
    padding: 0 5%;
}
.contents{
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
/*styling social media handles*/
.social{

}
.fa-facebook{
   
}
.fa-twitter{

}
.fa-linkedin{

}
.fa-youtube{
    
}
/*What we do styling*/
.what{
    padding: 2%;
}
.we{
    padding: 0 5%;
    
}
.we h3{
    padding: 2%;
}
.do{
    border-left: 3px solid blue;
    font-size: 1.5rem;
    padding: 0 2%;
    
}
/*our people, clients and society styling*/
.our-people{
    padding: 2%;
}
.clients{
    padding: 2%;
}
.society{
    padding: 2%;
}
.row{
    padding: 2%;
    border-bottom: 2px solid blue;
}
.col-md-4{
    padding: 2%;
}

/*mission, vision styling*/
.mission{
    padding: 0 2%;
}
.vision{
    padding: 0 2%
}
.vis{
    padding: 0 2%;
}
.col-md-8{
    padding: 5%;
}
.vis .row{
    border: none;
}
/*what we believe in section styling*/
.believe{
    background-color: blue;
    color: white;
    padding: 5px 2%;
    font-weight: 500;
    text-align: center;
}
.core{
    padding: 0 2%;
}
.values{
    padding: 0 2%;
}
.value{
    padding: 0 2%;
}

/*Founder and so-founder styling*/
.founder{
    padding: 5%;
}
.co-founder{
    padding: 5%;
}


.founderr h4{
    padding: 0 5%;
    font-weight: 500;
}
.society h4{
    background-color: blue;
    color: white;
    padding: 2%;
    width: 100%;
}

.society .col-md{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: white;

}